body {
    background-color: black;
}

div#H1 {
    background-image: url(file:///D:/Wed%20Design/week5/img/forest.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
    padding: 200px;
    margin: auto;
    border: 0cap;
    font-family:'Courier New', Courier, monospace;
}

h1{
    padding-top: 300px;
}

div#Para2 {
    background-image: url(file:///D:/Wed%20Design/week5/img/forest2.jpg);
    color: white;
    padding-top: 300px;
    padding-right: 0px;
    padding-bottom: 288px;
    padding-left: 0px;
    margin: 100px;
    border: 0cap;
    background-repeat: repeat-y;
    background-size: 600px;
}

